  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  :root{
    font-size: 80%;
    /* @media screen and (max-width: 1400px) {
      font-size: 70%;
    } */
  }

  canvas{
    z-index: 999999 !important;
  }

  .swal2-container{
    z-index: 999998 !important;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }